@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bungee+Shade&family=Caprasimo&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

title {
    font-family: 'Nosifer', cursive;
}

body::-webkit-scrollbar {
    display: none;
}